---
import { getCollection, render } from "astro:content";


const earths = await getCollection("earth");
let planet = "MARS"


const moonDestination = earths.find((earth) => earth.data.title === planet);

import "@fontsource/bellefair";
import "@fontsource/barlow-condensed/100.css";
import "@fontsource/barlow-condensed/400.css";
---

  <main class="relative">
    <section class="text-white tab-content">
      {moonDestination && (
        <article
          id={moonDestination.data.title}
          data-tab-content
          class="text-center mt-8 active"
        >
          <h4 class="text-center text-base font-normal tracking-wider font-[barlow-condensed]">
            <span class="opacity-20 mx-2">01</span>PICK YOUR DESTINATION
          </h4>
          <img
            class="w-36 mx-auto my-4 mb-8"
            src={`/public/destination/${moonDestination.data.img}`}
          />
          <nav class="text-sm flex gap-4 list-none justify-center text-BLUE-300 font-[Barlow-Condensed] font-normal tracking-widest">
            <li class="moon tab active text-white group relative w-max"  >MOON</li>
            <li class="tab text-white group relative w-max">MARS</li>
            <li class="tab text-white group relative w-max">EUROPA</li>
            <li class="tab text-white group relative w-max">TITAN</li>
          </nav>
          <article class="text-center mt-8">
            <h2 class="text-center text-white text-[56px] font-normal font-['Bellefair']">
              {moonDestination.data.title}
            </h2>
            <p class="text-center text-[#d0d6f9] text-[15px] font-normal font-['Barlow'] leading-[27px]">
              {moonDestination.body}
            </p>
            <div class="w-[90%] h-px opacity-25 bg-white mx-auto my-5" />
            <h4 class="text-BLUE-300 my-2 text-center text-xs font-normal font-['Barlow Condensed'] uppercase tracking-widest">
              AVG. DISTANCE
            </h4>
            <p class="text-center text-2xl text-white text-[28px] font-normal font-['Bellefair'] uppercase">
              {moonDestination.data.distance}
            </p>

            <h4 class="text-BLUE-300 mt-6 mb-2 text-center text-xs font-normal font-['Barlow Condensed'] uppercase tracking-widest">
              EST. TRAVEL TIME
            </h4>
            <p class="text-center text-2xl text-white text-[28px] font-normal font-['Bellefair'] uppercase">
              {moonDestination.data.time}
            </p>
          </article>
        </article>
      )}
    </section>
  </main>



<style>
  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
  }

  .tab.active {
    background-color: #ccc;
  }

  .tab:hover {
    background-color: #aaa;
  }

  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }
</style>

<script>
  const tabs = document.querySelectorAll("[data-tab-target]");
  const tabContents = document.querySelectorAll("[data-tab-content]");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      const target = document.querySelector(tab.dataset.tabTarget);
      tabContents.forEach((tabContent) => {
        tabContent.classList.remove("active");
      });
      tabs.forEach((tab) => {
        tab.classList.remove("active");
      });
      tab.classList.add("active");
      target.classList.add("active");
    });
  });
</script>